:root {
    --margin: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    color: rgb(218, 218, 218);
    background-color: #242424;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section,
footer {
    background-color: rgba(255, 255, 255, 0.112);
    border-radius: 8px;
}

section {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

/* HEADER - user infos */

header {
    /* border: 1px solid red; */
}

#button-edit-mode {
    /* border: 1px solid yellow; */
    width: 50px;
    height: 55px;
    background-color: transparent;
    border: none;
    opacity: 35%;
    cursor: pointer;
}

#button-edit-mode:hover {
    opacity: 85%;
}

#button-edit-mode > img {
    height: 28px;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

main {
    /* border: 1px solid red; */
    width: 680px;
}

#user-avatar {
    width: 50px;
    border: 3px solid #b47de7c1;
    border-radius: 50%;
    float: right;
}

#user-avatar:hover {
    /* cursor: pointer; */
}

/* #username {
    margin-top: 10px;
    font-size: 50px;
} */

/* playing track */

#section-playing-track {
    /* background-color: rgb(255, 168, 137); */
    width: 100%;
    display: flex;
    padding-top: var(--margin);
    padding-bottom: var(--margin);
}

#track-cover {
    width: 300px;
    border-radius: 8px;
    margin-left: var(--margin);
}

#track-infos {
    margin-left: var(--margin);
    display: inline-block;
    align-self: flex-end;
    margin-bottom: var(--margin);
}

#track-infos > * {
    display: block;
}

#track-name {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: var(--margin);
}

#track-author {
    font-size: 18px;
}

/* playlist buttons */
#section-playlist-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 135px;
    width: 680px;
    padding-bottom: var(--margin);
}

.playlist-button {
    margin-top: var(--margin);
    border: none;
    width: 125px;
    height: 125px;

    margin-left: 5px;
    padding: 5px;

    border-radius: 5px;
    font-size: 150%;
}

.playlist-button:hover {
    cursor: pointer;
}

/* FOOTER - controls */

footer {
    background-color: rgb(234, 107, 132);
}

/* EDIT SHORTCUT OVERLAY */

#edit-shortcut-overlay {
    position: absolute;
    width: 380px;
    border-radius: 12px;
    background-color: #383838;
    box-shadow: 0px 0px 45px 30px rgba(0, 0, 0, 0.1);
}

#input-shortcut-name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* opacity: 60%; */

    background-color: transparent;
    outline: none;
    border: none;
    font-size: 28px;
    color: rgb(205, 205, 205);
    width: 100%;

    cursor: pointer;
}

#edit-shortcut-settings {
    /* border: 1px solid green; */
    padding: var(--margin);
}

#input-shortcut-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 4px 0px 12px 0px;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#edit-shortcut-settings-playlists-select {
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 6px;
    background-color: rgba(53, 53, 53, 0.082);
    overflow-y: scroll;
    height: 180px;

    padding-top: 6px;

    scrollbar-width: thin;
    scrollbar-color: rgb(65, 65, 65) rgba(0, 0, 0, 0.04);
}

#edit-shortcut-settings-playlists-select > h3 {
    text-align: center;
}

.playlists-select-playlist {
    /* border: 1px solid red; */
    padding: 8px;
    margin-bottom: 4px;
    cursor: pointer;
    display: flex;
    color: white;
}

.playlists-select-playlist-name {
    /* border: 1px solid green; */
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-playlist-image {
    width: 25px;
    padding: 0px 10px 0px 8px;
}

.playlists-select-playlist > .playlist-select-status {
    width: 14px;
    height: 14px;
    margin-left: auto;
    margin-right: 4px;
    align-self: center;
    border-radius: 10px;
    border: 1px solid gray;
}

.selected > .playlist-select-status {
    width: 16px;
    height: 16px;
    background-color: rgb(40 205 115);
    border: none;
}

.shadows {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.edit-shortcut-button {
    border: none;
    padding: 5px 11px 5px 11px;
    border-radius: 20px;
    font-size: 18px;
    color: rgb(205, 205, 205);
    background-color: transparent;
    cursor: pointer;
}

.done {
    background-color: rgb(245, 245, 245);
    color: rgb(26, 26, 26);
}

#edit-shortcut-buttons-div {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px
}

.playlist-button-edit-mode {
    background: url("/img/edit_icon.svg");
    background-position: 96px 6px;
    background-repeat: no-repeat;
}

#playlist-button-add-new {
    background: url("/img/add_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-color: rgba(255, 255, 255, 0.06);
}

.visible {
    display: block;
}

.hidden {
    display: none;
}